<tippiq-header></tippiq-header>
<div class="staticpage row-content-background tippiqpage" tpq-section="">
    <div class="tippiqpage-content">
        <div class="container-fluid">
            <div class="row row-content">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                    <h2 class="heading-pagetitle">Cookies</h2>

                    <p class="text-body">Tippiq maakt gebruik van cookies. Voor ons is de informatie die we hierdoor
                        verkrijgen belangrijk: we kunnen onze diensten hiermee voortdurend verbeteren. Voor jou betekent
                        het bijvoorbeeld dat je gegevens die je al eens hebt ingevuld, niet opnieuw hoeft in te
                        vullen.</p>

                    <p class="text-body-bold">Wat zijn cookies?</p>

                    <p class="text-body">Een cookie is een klein tekstbestandje dat met de pagina's van deze website
                        wordt meegestuurd. Het bestandje wordt door je browser op je computer opgeslagen. De cookies
                        worden gebruikt om de website beter te laten functioneren en om het webbezoek te monitoren. Doel
                        is in beide gevallen: jouw gebruiksgemak verhogen.</p>

                    <p class="text-body-bold">Welke cookies gebruikt Tippiq?</p>

                    <p class="text-body">Hieronder staat een overzicht van alle cookies die in het domein van Tippiq.nl
                        worden gebruikt. De meeste zijn van toepassing op de besloten omgeving voor bewoners van
                        Tippiq.</p>
                    <table class="hidden-xs">
                        <tbody>
                        <tr>
                            <th>naam</th>
                            <th>bewaartijd</th>
                            <th>wat gebeurt er</th>
                        </tr>
                        <tr>
                            <td>tippiq-accept-cookies</td>
                            <td>2 jaar</td>
                            <td>Als je op 'Accepteren' klikt, hoef je de volgende keer geen cookies meer te
                                accepteren.
                            </td>
                        </tr>
                        <tr>
                            <td>tippiq-session-id</td>
                            <td>50 dagen</td>
                            <td>Deze cookie zorgt ervoor dat je niet telkens opnieuw hoeft in te loggen. Als je niet
                                uitlogt, blijf je 50 dagen ingelogd.
                            </td>
                        </tr>
                        <tr>
                            <td>_ga*</td>
                            <td>2 jaar</td>
                            <td>Hierdoor kunnen we statistieken via Google Analytics bijhouden.</td>
                        </tr>
                        <tr>
                            <td>XRSF-TOKEN</td>
                            <td>50 dagen</td>
                            <td>Dit zorgt ervoor dat de functionaliteit niet kan worden beïnvloed door scripts die in de
                                reactieformulieren worden geplaatst.
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="visible-xs">
                        <tbody>
                        <tr>
                            <th>naam</th>
                            <td>cookynannyCookie</td>
                        </tr>
                        <tr>
                            <th>bewaartijd</th>
                            <td>2 jaar</td>
                        </tr>
                        <tr>
                            <th>wat gebeurt er?</th>
                            <td>Als je op 'Accepteren' klikt, hoef je de volgende keer geen cookies meer te
                                accepteren.
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <th>naam</th>
                            <td>tippiq-session-id</td>
                        </tr>
                        <tr>
                            <th>bewaartijd</th>
                            <td>50 dagen</td>
                        </tr>
                        <tr>
                            <th>wat gebeurt er?</th>
                            <td>Deze cookie zorgt ervoor dat je niet telkens opnieuw hoeft in te loggen. Als je niet
                                uitlogt, blijf je 50 dagen ingelogd.
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <th>naam</th>
                            <td>_ga*</td>
                        </tr>
                        <tr>
                            <th>bewaartijd</th>
                            <td>2 jaar</td>
                        </tr>
                        <tr>
                            <th>wat gebeurt er?</th>
                            <td>Hierdoor kunnen we statistieken via Google Analytics bijhouden.</td>
                        </tr>

                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>

                        <tr>
                            <th>naam</th>
                            <td>XRSF-TOKEN</td>
                        </tr>
                        <tr>
                            <th>bewaartijd</th>
                            <td>50 dagen</td>
                        </tr>
                        <tr>
                            <th>wat gebeurt er?</th>
                            <td>Dit zorgt ervoor dat de functionaliteit niet kan worden beïnvloed door scripts die in de
                                reactieformulieren worden geplaatst.
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p class="text-body-bold">Cookies van derde partijen</p>

                    <p class="text-body">Wij gebruiken cookies alleen om onze dienstverlening te verbeteren. Sommige
                        partijen die zijn verbonden aan onze website gebruiken zelf hun eigen cookies. Hieronder vind je
                        een overzicht van deze partijen.</p>

                    <p class="text-body-bold">Google Analytics</p>

                    <p class="text-body">Als dienst die draait om autonomie over je informatie besteden we
                        vanzelfsprekend extra aandacht aan de manier waarop wij zelf met jouw informatie omgaan.<br>
                        Tijdens je bezoek aan de site verzamelen we gegevens met behulp van een geanonimiseerde versie
                        van Google Analytics. Het gaat onder andere om je locatie, taal, de website waar je vandaan komt
                        en hoe lang je onze site bezoekt. Hiermee kunnen we begrijpen hoe mensen Tippiq gebruiken en
                        bijvoorbeeld besluiten om meer tijd te steken in de functies die veel mensen aanspreken. We
                        willen per slot van rekening een dienst maken die ertoe doet.<br>
                        Voordat de informatie bij Google wordt opgeslagen, is het IP-adres geanonimiseerd. Dat maakt het
                        erg lastig om te achterhalen van wie de informatie is. Niettemin snappen we het dat sommige
                        gebruikers helemaal geen informatie willen delen. In dat geval kun je de Do Not Track (DNT)
                        optie van je browser inschakelen.<br>
                        De informatie wordt overgebracht naar en door Google opgeslagen op servers in de Verenigde
                        Staten. Google stelt zich te houden aan de Safe Harbor principles en is aangesloten bij het Safe
                        Harbor-programma van het Amerikaanse Ministerie van Handel. Dit houdt in dat er sprake is van
                        een passend beschermingsniveau.</p>

                    <p class="text-body-bold">Usabilla</p>

                    <p class="text-body">Onze website maakt gebruik van Usabilla voor het verzamelen van
                        gebruikersfeedback. Wij gebruiken deze dienst om onze dienstverlening en de gebruikservaring te
                        verbeteren. Usabilla kan deze informatie aan derden verschaffen indien Usabilla hiertoe
                        wettelijk wordt verplicht, of voor zover derden de informatie namens Usabilla verwerken. Wij
                        hebben hier geen invloed op. Aan Usabilla wordt de volgende gebruikersdata doorgegeven:</p>
                    <ul class="text-body">
                        <li><span>Datum en tijd</span></li>
                        <li><span>Gebruikersnaam</span></li>
                        <li><span>E-mail</span></li>
                        <li><span>Antwoorden op feedbackvragen</span></li>
                    </ul>
                    <p class="text-body">In Tippiq zijn knoppen opgenomen om pagina’s te delen op een social
                        media-platform. Deze knoppen zijn van de sociale media zelf en zij maken gebruik van cookies.
                        Bekijk de Privacy Statements van <a href="https://twitter.com/privacy"
                                                            target="_blank">twitter</a>, <a
                                href="https://www.google.nl/intl/nl/policies/privacy/" target="_blank">google+</a> en <a
                                href="https://www.facebook.com/about/privacy/" target="_blank">facebook</a> om te zien
                        wat zij precies doen. Tippiq heeft daar geen controle over.</p>

                    <p class="text-body-bold">Weigeren/verwijderen van cookies</p>

                    <p class="text-body">Wil je liever niet dat er cookies worden geplaatst op je computer? Of wil je
                        alle cookies verwijderen? Dan kun je dat regelen op het instellingenscherm van je browser
                        (Internet Explorer, Firefox, Chrome, etc.).</p>
                </div>
            </div>
        </div>
    </div>
</div>
<tippiq-footer></tippiq-footer>