<div class="tippiqheader">
    <div class="row row-logo">
        <div class="col-xs-12">
            <div class="container clearfix">
                <div class="pull-left">
          <span class="header-icon header-icon-menu visible-xs-inline-block"
                ng-show="$state.includes('card-stream') && !$state.is('card-stream.initiative')"
                ng-click="applicationCtrl.openOverlayMenu()"></span>
          <span class="header-icon header-icon-back visible-xs-inline-block"
                ng-hide="($state.includes('card-stream') && !$state.is('card-stream.initiative')) || $state.is('user-login') || $state.includes('user-registration')"
                ng-click="applicationCtrl.btnBackClicked()"></span>
          <span class="header-icon header-icon-tippiq visible-xs-inline-block"
                ng-show="$state.is('user-login') || $state.includes('user-registration')"></span>
          <span>
            <span class="logo-container logo-text visible-xs-inline-block" title="Tippiq">
              <img src="assets/images/logo/tippiq-logo-text-black.png" class="logo-image" alt="Tippiq"/>
              <span class="logo-betabadge">beta</span>
            </span>
            <a href="/" target="_self" class="logo-container logo-full hidden-xs" title="Tippiq">
                <img src="assets/images/logo/tippiq-logo-black-xs_@2.png" class="logo-image" alt="Tippiq"/>
                <span class="logo-betabadge">beta</span>
            </a>
          </span>
                </div>
                <div class="pull-right">
                    <span class="header-icon header-icon-close hidden"
                          ng-click="applicationCtrl.closeOverlayMenu()"></span>
          <span>
            <div class="userblock">
                <div ng-if="isAuthenticated()" class="hidden-xs">
                    <div class="user-badge">
                        <div class="dropdown">
                            <div class="btn btn-link" data-toggle="dropdown" style="text-decoration: none;">
                                <span class="badge-text">mijn Tippiq</span>&nbsp;&nbsp;
                                <span class="fa fa-chevron-down"></span>
                                <span class="fa fa-chevron-up"></span>
                            </div>
                            <ul class="dropdown-menu" ng-include="'modules/common/partials/usermenuitems.html'"
                                role="menu"></ul>
                        </div>
                    </div>
                </div>
                <div ng-if="!isAuthenticated()">
                <span ng-if="$state.includes('user-registration')">
                  <span class="header-support-text hidden-xs">Al bij Tippiq?&nbsp;</span>
                  <a class="btn btn-tippiqgreen-transparent" ui-sref="user-login">inloggen</a>
                </span>
                <span ng-if="$state.includes('user-login')">
                  <span class="header-support-text hidden-xs">Nieuw bij Tippiq?&nbsp;</span>
                  <a class="btn btn-tippiqgreen-transparent" ui-sref="user-registration.credentials">registreren</a>
                </span>
                <span ng-if="!$state.includes('user-login') && !$state.includes('user-registration')">
                  <a class="btn btn-link hidden-xs" ui-sref="user-login">inloggen</a>
                  <a class="btn btn-tippiqgreen-transparent hidden-xs" ui-sref="user-registration.credentials">registreren</a>
                  <a class="btn btn-tippiqgreen-transparent visible-xs-inline" ui-sref="user-login"
                     ng-hide="$stateParams.postcode">aanmelden</a>
                </span>
                </div>
            </div>
          </span>
          <span class="zipcode-info visible-xs-inline-block" ng-if="$stateParams.postcode">
            rond&nbsp;&nbsp;<span class="zipcode">{{ $stateParams.postcode | zipcode }}</span>
          </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="staticpage aboutpage row-background-interaction hidden-xs tippiqpage" tpq-section="">
    <div class="tippiqpage-content">
        <div class="container-fluid">
            <div class="row-interaction row row-centered" tpq-container="">
                <div class="col-centered col-xs-12" >
                    <div class="btn-history-back" ng-click="btnBackClicked()">
                        <span class="fa fa-chevron-left"></span> terug
                    </div>
                    <div class="social-buttons">
                        <div class="share-description">Deel</div>
                        <div class="btn-social" ng-click="applicationCtrl.btnShareClicked('facebook')"><span
                                class="fa fa-facebook"></span></div>
                        <div class="btn-social" ng-click="applicationCtrl.btnShareClicked('twitter')"><span
                                class="fa fa-twitter"></span></div>
                        <div class="btn-social" ng-click="applicationCtrl.btnShareClicked('google-plus')"><span
                                class="fa fa-google-plus"></span></div>
                        <div class="btn-social" ng-click="applicationCtrl.btnShareClicked('email')"><span
                                class="fa fa-envelope-o"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>