$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'contact/contact.scss';
@import 'cookies/cookies.scss';
@import 'main/main.scss';
@import 'main/main1.scss';
@import 'modal/modal.scss';
@import 'tippiq-footer/tippiq-footer.scss';
@import 'tippiq-header/tippiq-header.scss';
// endinjector

