<div class="footercontainer row-background-tippiq-footer">
    <div class="tippiqpage-content">
        <div class="container-fluid">
            <div class="row row-tippiq-footer">
                <div class="col-sm-4">
                    <ul>
                        <li><a href="/over">Over Tippiq</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li><a href="/privacy">Privacyverklaring</a></li>
                        <li><a href="/voorwaarden">Algemene Voorwaarden</a></li>
                        <li><a href="/cookies">Cookies</a></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul>
                        <li>
                            <a href="/start-initiatief">
                                <i class="fa fa-plus"></i>&nbsp;&nbsp;start zelf een initiatief
                            </a>
                        </li>
                    </ul>
                    <p style="font-style: italic;">&copy; {{ currentYear }} Tippiq</p>
                </div>
            </div>
        </div>
    </div>
</div>