<tippiq-header></tippiq-header>
<div class="staticpage row-content-background tippiqpage" tpq-section>
    <div class="tippiqpage-content">
        <div class="container-fluid" >
            <div class="row row-content">
                <div class="col-xs-12" style="padding-bottom: 115px;">
                    <h2 class="heading-pagetitle">Contact met Tippiq?</h2>
                    Vragen? Opmerkingen? Problemen?<br>
                    Wij staan voor je klaar. Stuur een bericht naar
                    <a href="mailto:iris@tippiq.nl">
                        <span class="tippiqgreen-text fa fa-envelope-o"></span>
                        iris@tippiq.nl
                    </a>.
                    Je hoort snel van ons!
                </div>
            </div>
        </div>
    </div>
</div>
<tippiq-footer></tippiq-footer>