<div class="tippiqpage landingpage row-background-sneak-preview">
    <div class="slick-container">
        <script type="text/ng-template" id="tpl.html">
            <img src="{{ m.src }}" />
        </script>
        <slick class="slider" settings="slickConfig" ng-if="slickConfigLoaded">
            <div ng-repeat="m in media  track by $index">
                <div class="" ng-include="'tpl.html'"></div>
            </div>
        </slick>
        <div class="slick-image-overlay"></div>
    </div>
    <div class="tippiqpage-content">
        <div class="container-fluid">
            <div class="row row-sneak-preview">
                <div class="col-xs-12 col-sm-12 logo-row">
                    <a href="/" class="logo-container logo-full" title="Tippiq">
                        <img src="assets/images/logo/tippiq-logo-white-xs_@2.png" class="logo-image" alt="Tippiq"/>
                        <span class="logo-betabadge">beta</span>
                    </a>

                    <div class="userblock pull-right hidden-xs ng-cloak">
                        <div ng-if="isAuthenticated()">
                            <button class="btn btn-link" ng-click="logout()">uitloggen <i class="fa fa-sign-out"></i>
                            </button>
                        </div>
                        <div ng-if="!isAuthenticated()">
                            <a href="/inloggen" class="btn btn-link">inloggen</a>
                            <a href="/registreren" class="btn btn-tippiqgreen-transparent">registreren</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12">
                    <div class="landing-page-headline">
                        <h1 class="heading-strong">waar je woont<br class="visible-xs"/> gebeurt wat</h1>
                    </div>
                    <div class="teaserlines">
                        <h4 class="heading-bold-subtitle-condensed">
                            <span class="tippiqname">Tippiq</span> vertelt je&#32;<br class="visible-xs"/>
                    <span class="whathappens" >{{ whathappens }}
                    </span>
                        </h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 wheredoyoulive ng-cloak">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-2 question">
                            Wat gebeurt er in jouw buurt?
                        </div>

                        <div class="clearfix"></div>
                        <form name="form" ng-submit="landingPageCtrl.submitZipcode()" novalidate>
                            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
                                <div class="btn-group" style="width: 100%;">
                                    <input type="text" tpq-verify-zipcode
                                           id="landingPage-zipcodeForm-zipcodeField"
                                           name="zipcode"
                                           maxlength="7"
                                           placeholder="{{ placeholder }}"
                                           class="form-control text-uppercase input-zipcode"
                                           ng-class="{ invalid: landingPageCtrl.invalid }"
                                           ng-model="landingPageCtrl.zipcode">
                        <span id="landingPage-zipcodeForm-clearButton"
                              ng-class="{ invalid: landingPageCtrl.invalid }"
                              ng-show="landingPageCtrl.zipcode.length > 0"
                              ng-click="landingPageCtrl.clearZipcode()"
                              class="fa fa-times-circle btn-clear-zipcode"></span>

                                    <div tpq-tooltip="bottom" tooltip-distance="5"
                                         tooltip-target="#landingPage-zipcodeForm-zipcodeField"
                                         tooltip-trigger="landingPageCtrl.zipcodeInvalid" tooltip-timeout="3000">
                                        {{ landingPageCtrl.invalidWarning }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <button class="btn btn-block btn-tippiqgreen-transparent"
                                        id="landingPage-zipcodeForm-submitButton"
                                        style="height: 44px;" ng-click="landingPageCtrl.submitZipcode()">ontdek het nu!
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="moreinfo" tpq-scroll-to="landingPage-infoSection">
                    <a href="" class="btn-link" style="font-weight: normal;">even voorstellen</a><br/>
                    <span class="fa fa-angle-down"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="tippiqpage landingpage row-background-usps">
    <div class="tippiqpage-content">
        <div class="container-fluid">
            <div class="row usps" id="landingPage-infoSection">
                <div class="col-xs-12 col-sm-4 usp">
                    <span class="fa fa-tag"></span>

                    <h3 class="heading-strong-subtitle">Meer weten</h3>

                    <p class="text-body">
                        Wij bundelen praktische informatie over lokale initiatieven van je gemeente, politie,
                        netbeheerder, buurtbewoners, en heel veel anderen.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 usp">
                    <span class="ti icon-tippiq"></span>

                    <h3 class="heading-strong-subtitle">Over je eigen buurt</h3>

                    <p class="text-body">
                        We brengen berichten over alles wat tot aan je voordeur gebeurt.
                        Zo ben je beter voorbereid op wat er aan zit te komen.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 usp">
                    <span class="fa fa-heart"></span>

                    <h3 class="heading-strong-subtitle">Zoals jij het wilt</h3>

                    <p class="text-body">
                        We laten jou selecteren wat bij je past en we controleren de informatie goed.
                        En als je in actie wilt komen, vertellen wij je bij wie je moet zijn.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<tippiq-footer></tippiq-footer>